body {
  padding: 0%;
  margin: 0%;
}
body header {
  display: flex;
  flex-direction: column;
  border-bottom: 1em solid rgb(230, 168, 139);
}
body header .header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(56, 41, 31);
  padding: 1em;
}
@media (max-width: 767) {
  body header .header__nav body {
    max-width: 767px;
    height: auto;
  }
  body header .header__nav .header__nav {
    flex-direction: column;
  }
  body header .header__nav .header__nav .header__nav__item {
    margin-bottom: 5px;
  }
}
body header .header__nav .header__nav__item {
  text-decoration: none;
  color: rgb(248, 227, 217);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
}
body header .imagen-principal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
body header .imagen-principal .fondo {
  width: 100%;
}
body header .imagen-principal .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
}
@media (max-width: 768px) {
  body header .imagen-principal .logo {
    width: 50px;
  }
}
body header .imagen-principal .imagen-principal__titulo {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3em;
}
@media (max-width: 768px) {
  body header .imagen-principal .imagen-principal__titulo {
    top: 70%;
    font-size: 1.5em;
  }
}
body main {
  background-color: rgb(230, 168, 139);
}
body main .tituloProductos {
  background-color: rgb(56, 41, 31);
  padding: 1em;
  display: grid;
  place-content: center;
}
body main .tituloProductos .tituloProductos__h2 {
  color: rgb(248, 227, 217);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3em;
}
body main .tituloRecetas {
  background-color: rgb(56, 41, 31);
  padding: 1em;
  margin-top: 1.5em;
  display: grid;
  place-content: center;
}
body main .tituloRecetas .tituloRecetas__h2 {
  color: rgb(248, 227, 217);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.3em;
}
body main .productos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center;
  background-color: rgb(230, 168, 139);
}
@media (max-width: 600px) {
  body main .productos {
    grid-template-columns: 1fr;
  }
}
body main .productos article {
  background-color: rgb(230, 168, 139);
  align-items: center;
  margin: 10%;
  transition: all 0.5;
  width: 80%;
}
body main .productos article .article__div {
  overflow: hidden;
}
body main .productos article .article__div .productos__img {
  width: 100%;
  height: auto;
  transition: all 0.5s;
  object-fit: cover;
}
body main .productos article .productos__h3 {
  color: rgb(230, 168, 139);
  background-color: rgb(56, 41, 31);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  padding: 1em;
  border: solid 5px transparent;
  transition: all 0.5s;
  max-width: 100%;
}
body main .productos article:hover .productos__img {
  transform: scale(1.2);
}
body main .productos article:hover .productos__h3 {
  color: rgb(248, 227, 217);
  border-bottom: solid 5px rgb(248, 227, 217);
}
body main .recetas {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center;
  background-color: rgb(230, 168, 139);
}
@media (max-width: 768px) {
  body main .recetas {
    grid-template-columns: 1fr;
  }
}
body main .recetas article {
  background-color: rgb(230, 168, 139);
  align-items: center;
  margin: 10%;
  transition: all 0.5;
}
body main .recetas article .article__div {
  overflow: hidden;
}
body main .recetas article .article__div .recetas__img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
  object-fit: cover;
}
body main .recetas article .recetas__h3 {
  color: rgb(230, 168, 139);
  background-color: rgb(56, 41, 31);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  padding: 1em;
  border: solid 5px transparent;
  transition: all 0.5s;
}
body main .recetas article:hover .recetas__img {
  transform: scale(1.2);
}
body main .recetas article:hover .recetas__h3 {
  color: rgb(248, 227, 217);
  border-bottom: solid 5px rgb(248, 227, 217);
}
body main .video {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
}
@media (max-width: 768px) {
  body main .video {
    flex-direction: column;
  }
}
body main .video .video__video {
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  height: 100%;
}
body main .video .video__h3 {
  color: rgb(248, 227, 217);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2em;
  padding: 15%;
}
body footer {
  background-color: rgb(56, 41, 31);
  padding: 1.5em;
  border-top: rgb(230, 168, 139) solid 4em;
}
body footer .redes-sociales {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 768px) {
  body footer .redes-sociales {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
body footer .redes-sociales .copy {
  text-decoration: none;
  color: rgb(230, 168, 139);
  padding: 0.2em;
}
body footer .redes-sociales .redes-sociales__item {
  text-decoration: none;
  color: rgb(230, 168, 139);
  padding: 0.2em;
  transition: all 0.3s;
}
body footer .redes-sociales .redes-sociales__item:hover {
  color: rgb(248, 227, 217);
}

/*# sourceMappingURL=style.css.map */
