$colorNegro: rgb(0, 0, 0);
$colorPrincipal: rgb(230, 168, 139);
$colorSecundario: rgb(56, 41, 31);
$colorBlanco: rgb(248, 227, 217);

body {
    padding: 0%;
    margin: 0%;
    header {
        display: flex;
        flex-direction: column;
        border-bottom: 1em solid $colorPrincipal;
        .header__nav{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            background-color: $colorSecundario;
            padding: 1em;
            

            @media (max-width: 767) {
                body{
                    max-width:767px ;
                    height: auto;
                }
                .header__nav {
                    flex-direction: column;
            
                    .header__nav__item {
                        margin-bottom: 5px;
                    }
                }
            
            }

            .header__nav__item {
                text-decoration: none;
                color: $colorBlanco;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 1em;
            }
        }
        .imagen-principal {
            width: 100%;   
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative; 
            

            .fondo {
                width: 100%;
                     
            }
            .logo {      
                position: absolute;
                top: 50%; 
                left: 50%; 
                transform: translate(-50%, -50%); 
                width: 100px;
                @media (max-width: 768px) {
                    width: 50px; 
                }
            }
            .imagen-principal__titulo {
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);    
                color: #fff;
                font-size: 3em;

                @media (max-width: 768px) {
                    top: 70%; // Ajusta esto según donde quieras que aparezca el título en móviles
                    font-size: 1.5em; // Ajusta esto según el tamaño que quieras para el título en móviles
                }
            }
        }
    }
    main {
        background-color: $colorPrincipal;
        .tituloProductos {
            background-color: $colorSecundario;
            padding: 1em;
            display: grid;
            place-content: center;
            .tituloProductos__h2 {
                color: $colorBlanco;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 1.3em;
            }
        }
        .tituloRecetas {
            background-color: $colorSecundario;
            padding: 1em;
            margin-top: 1.5em;
            display: grid;
            place-content: center;
            .tituloRecetas__h2 {
                color: $colorBlanco;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 1.3em;
            }
        }
        
        .productos {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            place-content: center;
            background-color: $colorPrincipal;



            @media (max-width: 600px) {
                grid-template-columns: 1fr;
            }
            article {
                background-color: $colorPrincipal;
                align-items: center;
                margin: 10%;
                transition: all 0.5;
                width: 80%;
            

                .article__div {
                    overflow: hidden;
                    .productos__img {
                        width: 100%;
                        height: auto;
                        transition: all 0.5s;
                        object-fit: cover;
                    }
                }                    
            
                .productos__h3 {
                    color: $colorPrincipal;
                    background-color: $colorSecundario;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 1em;    
                    padding: 1em;
                    border: solid 5px transparent;
                    transition: all 0.5s;
                    max-width: 100%;
                }
            }
            article:hover {
                .productos__img {
                    transform: scale(1.2);
                }
                .productos__h3 {
                    color: $colorBlanco;
                    border-bottom: solid 5px $colorBlanco;
                }
            }
        }    
        .recetas {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            place-content: center;
            background-color: $colorPrincipal;

            @media (max-width: 768px) {
                grid-template-columns: 1fr;
            }

            article {
                background-color: $colorPrincipal;
                align-items: center;
                margin: 10%;
                transition: all 0.5;
                .article__div {
                    overflow: hidden;
                    .recetas__img {
                        width: 100%;
                        height: 100%;
                        transition: all 0.5s;
                        object-fit: cover;
                    }
                    
                }                    
                .recetas__h3 {
                    color: $colorPrincipal;
                    background-color: $colorSecundario;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 1em;    
                    padding: 1em;
                    border: solid 5px transparent;
                    transition: all 0.5s;
                }
            }
            article:hover {
                .recetas__img {
                    transform: scale(1.2);
                }
                .recetas__h3 {
                    color: $colorBlanco;
                    border-bottom: solid 5px $colorBlanco;
                }
            }
        }
        .video {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: $colorNegro;
        
            @media (max-width: 768px) {
                flex-direction: column;
            }
        
            .video__video {
                padding-left: 5%;
                padding-right: 5%;
                width: 100%;
                height: 100%;
            }
            .video__h3 {
                color: $colorBlanco;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 2em;
                padding: 15%;
            }
        }
        
    }    
    
    footer {
        background-color: $colorSecundario;
        padding: 1.5em;
        border-top: $colorPrincipal solid 4em;
        .redes-sociales {
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (max-width: 768px) {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
            }

            

            .copy {
                text-decoration: none;
                color: $colorPrincipal;
                padding: .2em;
            }
            .redes-sociales__item {
                text-decoration: none;
                color: $colorPrincipal;
                padding: .2em;
                transition: all .3s;
            }
            .redes-sociales__item:hover {
                color: $colorBlanco;
            }
        }
    }
}

